/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  height: 100vh !important;
  max-height: 100vh !important;
  overflow: hidden !important;
}

#root {
  height: 100%;
}
